<h1 class="secondheading" style="color: red;">{{title}}</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="secondheading">{{desc}}</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter</div>
              <div class="col-md-4">
                <input type="text" placeholder="Search here" [(ngModel)]="userText"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>The number of products on the basis of filter '{{userText}}' is {{(product|mySearchPipe:userText).length}}</h4>
            </div>
          
        </div>
        <table class="table" *ngIf="product && product.length; else loading">
            <thead>
                <tr>
                    <th><button class="btn btn-danger" (click)="toggleImage()">{{showImage?'Hide image':'Show image'}}</button></th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Rating</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of product|mySearchPipe:userText">
                    <td><img [src]="prod.imageUrl" [style.width.px]="imageWidth" *ngIf="showImage"/>
                    </td>
                     <td>{{prod.ProductName|myUppercase:"lower"}}</td>
                     <td>{{prod.ProductCode|lowercase}}</td>
                     <td>{{prod.price|discount:5|currency:"INR"}}</td>
                     <td>{{prod.releaseDate|date:"MM-dd-yyyy"}}</td>
                     <td><app-star [rating]="prod.starRating"></app-star></td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <img src="../../assets/Loading_icon.gif"/>
        </ng-template>
    </div>
</div>
