
<div class="panel panel-primary" id="maindiv">
    <div class="panel panel-heading">Product details Page</div>
    <div class="panel panel-body">
    <div class="jumbotron">
        <p>Content in the Product details page {{id}}</p>
        <p>{{name}}</p>
        <img [src]="image" style="width: 150px;"/>
        <p>{{description}}</p>

      
      

    </div>
    </div>
    </div>
    <button [routerLink]="['/products']" class="btn btn-danger"><<back</button><!--(click)="onback()"-->

    <!--
          <p>{{details[0].ProductName}}</p>
       
        <img [src]="details[0].imageUrl" style="width:200px;"/>
        <p>{{details[0].description}}</p>
    -->